/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Mono:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-section {
  background-color: #060606;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/logo-login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.right-section {
  background-color: #6fca3a;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

.login-box input::placeholder {
  color: #C6C6C6;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px 0;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 2px; 
}

.remember-me label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 30%; 
}

.forgot-password {
  color: #a63ed4;
  text-decoration: none;
  font-size: 14px;
  margin-left: 30%; 
}

.login-box button {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #060606;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #333333;
}

.register-link {
  display: block;
  margin-top: 10px;
  color: #a63ed4;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}






